/*Glowing Smiles custom styling*/
a {color: #9147FF}
body p {
	font-size: 1em;
	line-height:1.6;
	margin-bottom:20px;
}
h2{
	margin-bottom:12px;
	font-weight:bold;
}
h3 {
	margin-top:35px;
}
#sponsors h3 {
	margin-top:60px;
}
h4{
	font-weight:bold;
}
.jumbotron p.date {
	font-weight:bold;
	margin-top:30px;
	margin-bottom:0px;
}
img + h4 {
	margin-top:60px;
}
figure + img {
	margin-top: 30px;
}
figure{
	margin:10px 0px
}
.silver .col-xs-12 {
	padding:50px 0px;
}
.gold p, .platinum p {
	margin-top:-19px;
}
.silver p{
	margin-top:-30px;
}
.silver .close {
	margin-top: 0;
}
.silver .med {
	margin-top: -20px;
}
#sponsors .img-responsive {
    width: 80%;
}
#sponsors .location {
		font-size:.8em;
}
#sponsors .two-line-text {
	position: absolute;
}
#sponsors .platinum, .silver{
	margin-bottom:4%;
}
#sponsors .p9 p, #sponsors .p10 p {
	margin-top:10px;
}
#sponsors .hy {
  padding-top:5px;
}
#sponsors .hy p {
    float: left;
  margin-left: 15%;
  margin-top: -5px;
}
.wells-plat {
	margin-top:-19%;
}
#sponsors .p9 p {
	margin-right:9%
}
.p10 img {
	margin-top:25px;
}
#sponsors .p12 img {
	width:65%;
}
#sponsors .match-height p {
	padding-top: 28%;
	text-align: center;
}
#sponsors .match-height {
	padding-top:10px;
	padding-bottom:10px;
}
.s1 img {
	margin-top:-20px;
}
.s1 p {
	margin-top:-12px;
}
.s2 img {
	margin-top:3px;
}
.s2 p {
	margin-top:-34px;
}
.silver .loc-zero {
	margin-top:0;
}
#sponsors .s8 img {
	width:70%;
	margin-bottom:21px;
}

.navbar-fixed-top .navbar-nav .sm-logo {
	background: url('../img/GlowingSmilesIcon.png') no-repeat 12px center;
	text-indent:-999999px;
	display:inherit;
  background-position-y: 18px;
	animation: animatedBackground .2s linear;
}
@keyframes animatedBackground {
	from { background-position: -15px -10px; }
	to { background-position: 5px 18px; }
}
.navbar-nav .sm-logo {
	display:none;
}
h1 {
	margin-top:0px;
}
footer{
	background-color: #333;
	padding-top:2%;
}
footer p {
	color: #fff;
}
footer small {
    color: #777;
    text-align: center;
    padding-bottom: 7px;
    display: block;
}
#runners {
    background: url("../img/running_group.png") center bottom no-repeat;
    height: 74px;
    width: 100%;
		margin-bottom:-2px;
}
#quote {
    background: url(../img/foot_butterfly.png) 100% no-repeat transparent;
    background-position-x: 94%;
    background-position-y: 58%;
    padding: 52px;
		margin-bottom: 100px;
}
.line, .lineDark {
	border-bottom:1px solid #fff;
	width:40px;
	margin-bottom:20px;
}
.lineDark {
	border-color:#333;
}
section {
	margin-bottom:200px;
	margin-top:-65px;
	padding-top:130px;
}
section#pac-pic {
	margin-bottom: 0px;
}

/* JUMBOTRON */
.hero-message{
	width:50%;
}
.jumbotron .navbar {
	margin-bottom:20px;
}
.jumbotron {
	background: #ffffff url('../img/spotlight_jumbo.png') no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
@media (min-width:300px) and (max-width:991px) {
		.jumbotron {
			background-position-x:0%;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
		.hero-message{
			width:100%;
		}
}
.jumbotron .btn-primary, .jumbotron .btn-info  {
	margin-top:30px;
	margin-bottom:8%;
	margin-right:30px;
	padding:20px 40px;
	font-size:21px;
    border-radius: 40px;
}
.jumbotron .btn-info  {
    color: #333;
    background-color: #fff;
}
.btn-info:hover {
    color: #000;
    background-color: #Eeeeee;
}
.jumbotron {
  padding: 30px 15px;
  color: inherit;
	margin-bottom:0px;
  background-color: #eee;
}
.jumbotron h1,
.jumbotron .h1 {
  color: #FFF;
}
.jumbotron p {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 200;
  color:#fff;
}
.jumbotron span.jumbotron-label {
  text-transform: uppercase;
  font-size: 14px;
  color: #33cc66;
  display:block;
  margin-top:30px;
}
@media screen and (min-width: 768px) {
		.jumbotron {
			padding:30px 0px 0px;
		}
		.container .jumbotron,
		.container-fluid .jumbotron {
		padding-right: 60px;
		padding-left: 60px;
		}
		.jumbotron h1 {width: 50%;}
}
.jumbotron h1,
.jumbotron .h1 {
	font-size: 50px;
	font-family: 'Average Sans', sans-serif;
}
.jumbotron h2 {
	font-size: 30px;
	color:#fff;
}
/* END JUMBOTRON */
a:hover {
	text-decoration:underline;
}
	/* BUTTONS */
.btn {
	border:none;
		-o-transition:.25s;
		-ms-transition:.25s;
		-moz-transition:.25s;
		-webkit-transition:.25s;
		transition:.25s;
}
.btn-primary {
	color: #fff;
	background-color:#268f52;
	padding: 10px 20px;
	margin-top:10px;
    border-radius: 40px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #0f6834;
}
.btn-default:hover, .btn-default {
	border:none;
	color:#fff;
	margin-top:20px;
}
.comm-actions {
    margin-top: 36px;
}
.sec-link {
    margin-left: 2%;
    display: inline-block;
    vertical-align: middle;
}
.comm-actions .btn-primary {
    margin-top:0px;
}
@media (max-width: 627px){
		.jumbotron .btn-primary, .jumbotron .btn-info {
		margin-bottom: 20px;
	}
	.jumbotron .btn-info {
		margin-top:0px;
	}
}
@media (max-width: 420px){
	.btn{
		width: 100%;
		padding:15px;
	}
	.jumbotron h1 {
		font-size:30px;
	}
	.jumbotron img {
		width:75%;
		margin-bottom:10px;
	}
	.jumbotron span.jumbotron-label {
		margin-top:20px;
		font-size:12px;
	}
	.jumbotron p {
		font-size:20px;
	}
	h2 {
		margin-top: 60px;
	}
	h3 {
		margin-top: 35px;
	}
	h3 {
		margin-top: 30px;
	}
	ul {
		padding-left:30px;
	}
    .comm-actions a.sec-link {
        width: 100%;
        text-align: center;
        margin-top: 24px;
        margin-left: 0px;
    }
}
/* END BUTTONS */
@media (max-width:768px){
	nav {
		display:none;
		}
	section {
		margin-bottom: 100px;
		}
	}
.cost-table {
	margin-top:25px;
	border-bottom: 1px solid #333
}
.cost-table tbody tr th {
    background-color: #922475;
    color: #fff;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tbody>tr>td {
	padding:8px 12px;
	border:none;
}

/* Race Results Table */
.race-results-year {background-color: #F4E9F1;}
.race-results-table .race-results-year > th {padding-top:2px; padding-bottom:2px;}
.race-results-table .place {width:8%;}
.race-results-table .categories {width:20%; font-weight: bold;}
.race-results-table .col-w {width: 30%;}
.current.race-results-table td, .current.race-results-table th {padding-left:0;}


/* ______________________________Update Bootstrap______________*/
.navbar {
	background-color:#333;
}
@media (min-width: 768px) {
		.navbar-nav>li>a {
			padding-top: 16px;
            padding-bottom: 16px;
            padding-left: 32px;
            padding-right: 32px;
		}
		.navbar-nav {
			text-align:center;
			width:100%;
		}
		.navbar-nav > li {
			float:none;
			display:inline-block;
		}
}
.navbar-nav li.active {
	background-color:#555;
}
.navbar-header .navbar-brand {
	height: 40px;
}
.navbar-header {
	margin-top:2px;
}
